fastapi
uvicorn[standard]
pdfplumber
pytesseract
pdf2image
Pillow
tqdm
python-dateutil
pydantic
sqlalchemy
jinja2
aiofiles
python-multipart
pyjwt
spacy
langchain
langchain-ollama
requests
reportlab
python-dotenv
groq
